<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Information</key>
	<string>This is the Liense agreement statment. This is a sample test that will be view in the Text View.. This is a test application for the time being.</string>
	<key>Server_url</key>
	<string>192168.18.57</string>
</dict>
</plist>
